<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue 入门</title>
    <style>
        .active{
            background-color: red;
        }
    </style>
</head>
<body>

<div id="app"  >
<!--    根据这个我checked的值来决定当前是否选中-->
    <input type="checkbox" v-model="checkes[0]">篮球
    <input type="checkbox" v-model="checkes[1]">足球
    <input type="checkbox" v-model="checkes[2]">排球
</div>
<!--1 引入vue-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',//绑定了上面的容器div
        data:{
            checkes:[true,false,true]
        }
    })
</script>
</body>
</html>